In [1]:
import pandas as pd

# Load your dataset
data = pd.read_csv(r"C:\Users\matth\0_BDMP\Datasets\1_Crash_Datasets\Speed_Camera_Locations.csv")
data.head()

,ADDRESS,FIRST APPROACH,SECOND APPROACH,GO-LIVE DATE,LATITUDE,LONGITUDE,LOCATION
0,819 E 71st St (Speed Camera),EB,WB,08/20/2018,41.765836,-87.603600,"(41.765836, -87.6036)"
1,6125 N Cicero Ave (Speed Camera),NB,SB,03/17/2014,41.992119,-87.748477,"(41.9921194114274, -87.74847678515228)"
2,3137 W Peterson (Speed Camera),EB,WB,01/03/2014,41.990282,-87.709500,"(41.9902819135942, -87.7095)"
3,2080 W Pershing Rd (Speed Camera),EB,WB,09/07/2013,41.823116,-87.676366,"(41.823116, -87.676366)"
4,1330 W 76th St(Speed Camera),EB,WB,07/09/2021,41.756049,-87.657060,"(41.75604940593661, -87.65705959049882)"

In [2]:

# Extract the first four numbers from the 'Address' column
data['ADDRESS'] = data['ADDRESS'].str.extract(r'^(\d{3,5})')

# Print the modified 'Address' column
print(data['ADDRESS'])

0       819
1      6125
2      3137
3      2080
4      1330
       ...
156    2501
157    2223
158    1215
159    3314
160    4350
Name: ADDRESS, Length: 161, dtype: object

In [3]:
data.head(30)

,ADDRESS,FIRST APPROACH,SECOND APPROACH,GO-LIVE DATE,LATITUDE,LONGITUDE,LOCATION
0,819,EB,WB,08/20/2018,41.765836,-87.603600,"(41.765836, -87.6036)"
1,6125,NB,SB,03/17/2014,41.992119,-87.748477,"(41.9921194114274, -87.74847678515228)"
2,3137,EB,WB,01/03/2014,41.990282,-87.709500,"(41.9902819135942, -87.7095)"
3,2080,EB,WB,09/07/2013,41.823116,-87.676366,"(41.823116, -87.676366)"
4,1330,EB,WB,07/09/2021,41.756049,-87.657060,"(41.75604940593661, -87.65705959049882)"
5,NaN,EB,NaN,04/29/2014,41.896600,-87.629000,"(41.8966, -87.629)"
6,NaN,WB,NaN,04/29/2014,41.896779,-87.628800,"(41.89677912747405, -87.6288)"
7,5454,EB,WB,11/10/2013,41.953330,-87.764267,"(41.95332954454448, -87.76426726425451)"
8,3534,SB,NaN,01/31/2014,41.945963,-87.688384,"(41.9459625867886, -87.68838396394528)"
9,8345,NB,NaN,10/11/2014,41.741742,-87.663073,"(41.741741651401504, -87.66307332925098)"
10,7122,SEB,NaN,08/20/2018,41.765164,-87.604804,"(41.765164, -87.604804)"
11,732,NB,SB,03/24/2014,41.894503,-87.726205,"(41.89450330881178, -87.72620452246953)"
12,7739,NB,NaN,12/18/2013,41.752629,-87.682765,"(41.752629293489285, -87.68276525603093)"
13,8318,SB,NaN,10/11/2014,41.742474,-87.663385,"(41.74247385456547, -87.66338547998558)"
14,2900,EB,WB,10/17/2013,41.860408,-87.698672,"(41.86040786445197, -87.69867209877323)"
15,1638,SB,NaN,03/03/2014,41.911792,-87.667870,"(41.91179204452259, -87.66787045896686)"
16,2417,EB,NaN,10/17/2014,41.706268,-87.682391,"(41.70626766073214, -87.68239147238012)"
17,5433,NB,NaN,02/07/2014,41.794045,-87.723036,"(41.79404504596532, -87.72303636259336)"
18,3034,EB,WB,10/05/2013,41.975884,-87.704801,"(41.9758840401294, -87.70480112338926)"
19,3809,EB,NaN,04/08/2014,41.939040,-87.722646,"(41.939040255975605, -87.72264591078833)"
20,4433,NB,NaN,01/04/2014,41.962314,-87.688565,"(41.96231378868856, -87.68856455418805)"
21,4429,NaN,NB,11/23/2013,41.962597,-87.655518,"(41.962596548691735, -87.65551767517252)"
22,536,EB,WB,12/06/2013,41.793493,-87.611876,"(41.793492645896656, -87.6118759701359)"
23,324,EB,NaN,04/14/2014,41.890910,-87.619348,"(41.89091009572781, -87.61934752145963)"
24,2329,EB,WB,02/24/2014,41.902929,-87.685762,"(41.90292940885378, -87.68576187971952)"
25,7518,NB,SB,02/17/2014,41.757497,-87.631833,"(41.75749703994495, -87.63183332832696)"
26,7738,SB,NaN,12/18/2013,41.752719,-87.683061,"(41.75271909284453, -87.68306095859297)"
27,4436,SB,NaN,01/04/2014,41.962422,-87.688862,"(41.9624218495406, -87.68886227502836)"
28,5030,SB,NaN,01/31/2014,41.801402,-87.723545,"(41.80140191299459, -87.72354459803559)"
29,5432,EB,WB,02/14/2014,41.967856,-87.763929,"(41.96785573012919, -87.76392864369929)"

In [4]:
# Create a dictionary to specify the column name mappings
column_names = {'LATITUDE': 'speed_camera_latitude',
                'LONGITUDE': 'speed_camera_longitude',
                'LOCATION': 'speed_camera_location'}

# Rename the columns using the dictionary
data = data.rename(columns=column_names)

# Print the updated column names
print(data.columns)

Index(['ADDRESS', 'FIRST APPROACH', 'SECOND APPROACH', 'GO-LIVE DATE',
       'speed_camera_latitude', 'speed_camera_longitude',
       'speed_camera_location'],
      dtype='object')

In [7]:
data.to_csv(r"C:\Users\matth\0_BDMP\Datasets\3_Cleaned_Datasets\camera_cleaned.csv", index=False)